<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>메인화면</title>
</head>
<body>

<form class="container" action="test" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label class="form-label">Default file input example</label>
        <input class="form-control" type="file" name="file">
        <input type="text" class="form-control" name="itemName" style="width: 40%" placeholder="itemName" required>
        <br>
        <input type="text" class="form-control" name="itemCategory" style="width: 40%" placeholder="itemCategory" required>
        <br>
        <input type="text" class="form-control" name="itemInfo" style="width: 40%" placeholder="itemInfo" required>
        <br>
        <input type="text" class="form-control" name="itemPrice" style="width: 40%" placeholder="itemPrice" required>
        <br>
        <input type="hidden" name="itemStatus" value="1">

        <button type="submit" class="btn btn-danger mb-3">저장1</button>
        <span th:text="${msg}"></span>
    </div>
</form>
</body>
</html>